#fullpage 
	{
		margin: auto;
		font-family: 'Raleway', sans-serif;
		width: 90%;
	}
	/* Header */
header
	{
    	display: flex;
   		align-items: center;
		font-size: 0.9rem;
	} 
header div
	{
    	width: 20%;
		min-width: 100px;	
	} 
#logo
	{
		width: 100%;
	}
nav
	{
		display: flex;
		justify-content: flex-end;
		width: 100%;
	}
nav ul
	{ 
		display: flex;
		list-style-type: none;
	}
nav ul li a 
	{
		padding-left: 20px;
		padding-right: 20px;
		text-decoration: none;
		color: black;		
	}
nav ul li a:hover
	{	
		color: #0065FC;
		border-top:2px #0065FC solid;
		padding-top: 30px;
		margin-top : -3px;
	}
#inscrire
	{
		text-decoration: none;
		color: #0065FC;
		font-weight: bold;
		padding-left: 20px;
	}
#inscrire:hover
	{
		transform: scale(1.2);
	}
/* Titres */
h1
	{
		font-size: 1.2rem;
	}
h2
	{
		font-size: 0.8rem;
		font-weight:normal;
	}
/* Recherche */
.form
	{
		margin-top: 15px;
		display:flex;
	}
.fa-map-marker-alt
	{	
		font-size: 0.9rem;
	}
.form span
	{
		padding: 12px 17px;
		background-color: #F2F2F2;
		border-radius: 10px 0px 0px 10px;
	}
.search_input
	{
		padding-left: 10px;
		font-family: "Raleway", "Sans serif";
		font-weight: bold;
		font-size: 0.9rem;
		width: calc(100% / 6);
		min-width: 170px;
		border-top: 1px solid #F2F2F2;
		border-bottom: 1px solid #F2F2F2 ;
		border-left: none;
		border-right: none;	
	}
.submit_input_icon
	{
		padding: 0 15px;
		font-family: "Raleway", "Sans serif";
		font-weight: bold;
		font-size: 0.9rem;
 		background-color: #0065FC;
  		color: white;
  		border: none;
 		border-radius: 0 10px 10px 0;
 		cursor: pointer;
	}
.fa-search
	{
		visibility: hidden;
	}
/* Filtres */
#filters
	{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		font-size: 0.9rem;
		margin-top: 15px;	
	}
.filter
	{
		 display: flex;
		 font-weight: bold;
		 border: 2px #E2E2E2 solid;
		 border-radius: 50px;
		 padding: 12px;
		 margin-left: 25px;
	}
.filter:hover
	{
   		background-color: #f3f8ff;
   		transform: scale(1.05);
	}
.filter_ico	
	{
		display: flex;
   		align-items: center;
   		justify-content: center;
		width: 45px;
		height: 45px;
		border-radius: inherit;
		position: absolute;
		margin-left: -15px;
		margin-top: -14px;
		background-color: #DEEBFF;
	}
.filter_ico i
	{
		font-size:1rem;
		color:#0065FC;
	}
.filter_name
	{
		padding-left: 35px;
   		padding-right: 8px;
	}
/* Info recherche */
#seach_info 
	{
		display: flex;
		align-items: center;
		font-size: 0.8rem;
		margin-top: 20px;	
	}
.filter_ico_2
	{
		display: flex;
		align-items: center;
   	 	justify-content: center;
		width: 15px;
		height: 15px;
		border: 2px #F2F2F2 solid;
		border-radius: 50px;
		margin-right: 10px;
	}
.filter_ico_2 i
	{
		font-size: 0.6rem;
		color: #0065FC;	
	}
/* Hébergement à Marseille et Les plus populaires*/
#hebergement_populaire
	{	
		display :flex;
		justify-content: space-between;
		width: 100%;
		height: 560px;
		margin-top :25px;
	}
#hebergement_populaire a
	{
		text-decoration: none; 
		color: black;
	}
.figure_title
	{
		display: flex;
		align-items:center;
		justify-content: space-between;
		font-size:1rem;
		width: 85%;
		height: 40px;
		margin-top: 30px;
	}
.figure_title i
	{
		font-size: 1rem;
	}
.grade_ico_blue
	{
		color: #0065FC;
	}
.grade_ico_grey
	{
		color: #E2E2E2;
	}
/* Hébergement à Marseille */
.hebergement
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		width:66%;
		border-radius: 20px;
		background-color:#F2F2F2;	
	}	
.hebergement a 
	{
		margin: 10px;
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		width: 30%;
	}
.hand_card_1
	{
		margin-top: 10px;
		width: 95%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
.card_1
	{
		background-color: white;
		width: 100%;
		height: 165px;
		font-size:0.9rem;
		border-radius:15px;
		margin: 0 0 15px 0;
		padding: 4px;
		box-shadow: 3px 3px 5px grey;
	}	
.card_1:hover
	{
		transform: scale(1.05);
	}
.card_1_image
	{
		 width: 100%;
		 height: 60% ;
		 border-radius:15px 15px 0px 0px;
		 object-fit: cover;
	}
.card_1 figcaption h4
	{
		margin: 4px;
	}	
.card_1 figcaption p
	{	
		margin: 4px;
	}	
.card_1 .note
	{
		font-size: 0.6rem;
		padding-left: 4px;	
	}
.more
	{
		width: 100%;
	}
.more a
	{
		margin-left:6%;
		font-weight: bold;
		width: 150px;
		justify-content: left;
	}
.more:hover
	{
		margin-left: 60px;
		transform: scale(1.1);	
	}
/* Les plus populaires */
.populaire
	{
		display: flex;
	 	flex-direction:column;
	 	align-items: center;
		width: 31%;
	 	background-color:#F2F2F2;
	 	border-radius: 20px; 	
	}
.populaire a 
	{
		display: flex;
		justify-content: center;
	}
.hand_card_2
	{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width:90%;
		margin-top: 10px;
	}
.card_2
{	
	margin:0 0 30px 0;
	padding: 4px;
	display:flex;
	font-size: 0.9rem;
	width: 90%;
	height: 120px;
	background-color: white;
	box-shadow: 3px 3px 5px grey;
	border-radius:15px;
}
.card_2:hover
	{
		transform: scale(1.05);
	}
.card_2_image
 	{
		width: 110px;
		height:100%;
		border-radius:15px 0px 0px 15px;
		object-fit: cover;
	}
.card_2 figcaption h4,.card_2 figcaption p
	{
		margin: 4px;
		padding: 5px 0 0 11px;
	}
.card_2 .note
	{
		font-size: 0.6rem;
		padding-left: 15px;	
	}
/* Activités à Marseille */
#activites
	{
		display:flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
#activites a
	{
		text-decoration: none; 
		color: black;
		width: 100%;
	}

.hand_card_3
	{
		margin-top: 10px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
		align-content: space-between;
		height: 350px;	
		width: 100%;
	}
.figure_100
	{
		height: 100%;
		width: 23%;
		display: flex;
		justify-content: center;
	}
.figure_50
	{
		height: 45%;
		width: 23%;
		display: flex;
		justify-content: center;
	}
.figure_25
	{
		height: 40%;
		width: 23%;
		display: flex;
		justify-content: center;
	}
.card_3
	{
		margin: 0;
		display:flex;
		flex-direction: column;
		font-size:0.9rem;
		height: 100%;
		border-radius:10px;
		box-shadow: 3px 3px 5px grey;
		background-color: white;
	}
.card_3 figcaption
	{
		height:50px;
	}

.card_3:hover
	{
		transform: scale(1.05);
	}
.card_3 h4
	{
		padding-left:5px;
	}
.card_3_image 
	{
		height: 100% ;
		border-radius:15px 15px 0px 0px;
		object-fit: cover;
	}
/* Footer */
footer
	{
		margin-top: 90px;
		display:flex;
		justify-content: flex-start;
		font-size: 0.9em;
		padding:3%;
		background-color: #F2F2F2;
	}
footer ul
	{
		list-style-type: none;
	} 

footer ul li
	{
		padding-top:10px;
	}
footer ul li a
	{
		text-decoration: none;
		color:black;
	}
footer ul li a:hover
	{
		text-decoration: underline solid black;
	}
.footer_heading
	{
		width: calc(100% / 3);
	}
footer h5
	{
		margin-left: 40px;
	}
/* Responsive Smartphone and exception*/
@media all and (max-width: 767px)  
	{
		#fullpage
			{
				width:95%;
			}
		header 
			{
				flex-wrap: wrap;
				justify-content: space-between;
			}
		#logo
			{
				order :1;
				width: 80%;	
			}
		#inscrire
			{	order:2;
				text-align: right;
			}
		nav
			{
				order: 3;
				justify-content: center;
				width: 100%;
				height: 35px;	
			}
		nav ul
			{
				padding: 0;
				width: 100%;
				height: 25px;
			}
		nav ul li
			{
				display:flex ;
				width: 50%;
			}
		nav ul li a
			{	
				padding:0;
				width: 100%;
				text-align: center;	
				border-bottom:3px #F2F2F2 solid;
			}
		nav ul li a:hover
			{	
				padding: 0;
				margin: 0;
				color: #0065FC;
				border-top: none;
				border-bottom:3px #0065FC solid;
			}	
		#found_it
			{
				padding-top: 10px;
			}
		.search_input
			{
				width: 100%;
			}
		.submit_input_icon
			{
				display: none 
			}
		.fa-search
			{
				padding: 0 15px;
				visibility: visible;
				font-size: 0.9rem;
				background-color: #0065FC;
				color: white;
				border: none;
				border-radius: 0 10px 10px 0;
				cursor: pointer;	
			}
		#filters 
			{	
				display:initial;
			}
		.filter
			{
				margin-bottom: 5px;
				margin-left: 0;
			}
		#hebergement_populaire
			{
				flex-direction: column-reverse;
				height: auto;
			}
		.hebergement
			{
				margin-bottom: 10px;
				width: 100%;
				align-items: center;
				background-color:unset;
			}
		.hebergement .figure_title 
			{
				width: 95%;
				margin-left: 0;
			}
		.hand_card_1 
			{
				width: 100%;
				margin-left: -4px;
			}
		.card_1	
			{
				display: flex;
				width: 100%;
				height: 160px;
			}
		.card_1_image
			{
				width: 40%;
				height: 159px;
				border-radius: 10px;
			}
		.hebergement figcaption
			{
				padding-top: 50px;
				padding-left: 20px;
			}
		.hebergement a 
			{
				display: flex;
				justify-content: center;
				width: 95%;
			}
		.more
			{
				padding-bottom: 20px;
				display: flex;
				justify-content: center;
				width: 450px;
			}
		.more:hover
			{
				margin: 0;
			}	
		.populaire 
			{
				border-radius: 0;
				width:100%
			}
		.populaire .figure_title
			{
				margin-left: 0;	
				width: 90%;
			}
		.populaire .figure_title i 
			{
				margin-right: 0;
				font-size: 1.2rem;
			}	
		.hand_card_2
			{
				width: 100%;
				margin-left: -4px;
				margin-bottom: 15px;
			}
		.populaire a 
			{
				display: flex;
				justify-content: center;
				width: 100%;
			}
		.card_2
			{
				margin: 15px 0 0 0;
				width: 90%;
				height: 120px;
			}
		.card_2_image
			{
				min-width: 90px;
				width:30%;
			}
		.card_2 figcaption h4,.card_2 figcaption p
			{
				padding-left :10px;
				font-size: 0.75rem;
			}
		.hand_card_3 
			{
				width:100%;
				height: 1150px;
				flex-wrap: unset;
			}
		#activites a 
			{
				display: flex;
				justify-content: center;
				width: 95%;
			}
		#activites .figure_title 
			{
				margin-left:0;
				width: 95%;
			}
			.figure_100,.figure_50,.figure_25
			{
				width: 100%;
			}
		.card_3
			{	
				font-size:0.8rem;
				width: 100%;
				height: 150px;
				padding: 4px;
				margin: 15px 0;	
			}	
		footer
			{
				padding: 0;
				display:flex;
				width:100%;
				flex-direction : column;
			}
		.footer_heading
			{
				width: 100%;
				margin-bottom: 20px;
			}
	}
/* Responsive Smartphone */
@media all and (max-width: 350px) 
	{
		.card_1 
			{
    			display:unset;
			}
		.card_1_image
			{
				width: 100%;
				height: 62%;
				border-radius: 10px 10px 0 0;
			}
		.hebergement figcaption
			{
				padding:0;
			}
	}
/* Responsive tablette */
@media all and (min-width: 767px) and (max-width:1024px) 
	{
		header
			{
				flex-wrap: wrap;
				justify-content: space-between;
			}
		header div
			{
				width: 20%;
			}
		#logo
			{
				max-width: 135px;
			}
		#inscrire
			{
				font-size: 1.1rem;
			}
		nav
			{
				order: 2;
				width: 100%;
				height: 35px;
			}
		nav ul li a
			{
				padding-right: 0;	
				order:1;	
			}
		nav ul li a:hover
			{	
				padding-bottom: 5px;
				border-top: none;
				border-bottom:3px #0065FC solid;
				color: #0065FC;
			}	
		#found_it
			{
				padding-top: 10px;
			}
		#hebergement_populaire
			{
				flex-direction: column-reverse;
				height: auto;
			}
		.populaire 
			{
   				 width: 100%;
			}
		.populaire .figure_title
			{
				width: 90%;	
			}
		.populaire .figure_title i 
			{
				font-size: 1.2rem;
			}	
		.populaire a 
			{
				justify-content: center;
				display: flex;
			}
		.hand_card_2
			{
				margin-left: -4px;
				margin-bottom: 15px;
				width: 85%;
			}
		.card_2
			{
				width: 95%;
				height: 120px;
			}
		.card_2_image
			{
				width:180px;		
			}
		.hebergement
			{
				width: auto;
				margin-bottom: 10px;
				margin-top: 30px;
				align-items: center;
			}
		.hebergement .figure_title 
			{
				margin-left: -45px;
			}
		.hebergement a
			{
				margin: 0 30px 10px 30px;
				width: 23%;
			}
		.card_1	
			{
				width: 100%;
				min-width: 170px;
			}
		.more
			{
				padding-bottom: 20px;
				display: flex;
				justify-content: center;
				width: 450px;
			}
		.more:hover
			{
				margin: 0;
			}
		.hand_card_3 
			{
				width:100%;
				height : 650px;
				align-content: space-around;
			}
		.figure_100,.figure_50,.figure_25
			{
				height: 46%;
				width: 27%;
				min-width: 210px;
			}	
		}
/* Responsive portable */
@media all and (min-width:1024px) and (max-width: 1279px) 
	{
		#hebergement_populaire
			{
				flex-direction: column-reverse;
				height:auto;
			}
		.populaire 
			{	
				padding-bottom: 15px;
				width: 100%;
			}	
		.populaire .figure_title i 
			{
				font-size: 1.2rem;
			}	
		.hand_card_2
			{
				width: 85%;
			}
		.card_2
			{
				font-size: 1rem;
			}
		.card_2_image
 			{
				width: 180px;
			}
		.card_2 figcaption h4,.card_2 figcaption p
			{	
				padding-left :25px;
			}
		.card_2 .note
			{
				padding-left: 30px;	
			}
		.more
			{
				padding-bottom: 20px;
				display: flex;
				justify-content: center;
				width: 450px;
			}
		.more a 
			{
				width: 100%;
				justify-content: center;
			}
		.more:hover
			{
				margin: 0;
			}
		.hebergement
			{
				margin-top: 30px;
				width: 100%;
			}
		.hebergement .figure_title
			{
				margin-bottom: 10px;
			}	
		.hebergement a
			{
				margin: 0 30px 10px 30px;
				width: 25%;
				display: flex;
				align-items: center;
				max-width: 270px;		
			}
		.hand_card_3 
			{
				width:100%;
				height : 650px;
				align-content: space-around;
			}
		.figure_100,.figure_50,.figure_25
			{
				height: 44%;
				width: 27%;
			}	
	}