#fullpage 
	{
		margin: auto;
		font-family: 'Raleway', sans-serif;
		width: 100%;
	}
main
	{
  		 width: 93%;
  		 margin: auto;
	}
 
/* Header */
header
	{
		margin: auto;
    	display: flex;
   		align-items: center;
		font-size: 0.9rem;
		width: 95%;
	} 
header div
	{
    	width: 17%;
		min-width: 100px;	
	} 
#logo
	{
		width: 100%;
	}
nav
	{
		width: 83%;
	}
nav ul
	{ 
		display: flex;
		justify-content: flex-end;
		list-style-type: none;
	}
nav ul li a 
	{
		padding: 0 20px;
		text-decoration: none;
		color: black;		
	}
nav ul li a:hover
	{			
		padding-top: 30px;
		border-top:2px #0065FC solid;
		color: #0065FC;
	}
#inscrire
	{
		padding-left: 20px;
		text-decoration: none;
		color: #0065FC;
		font-weight: bold;
	}
#inscrire:hover
	{
		transform: scale(1.2);
	}

/* Titres */
h1
	{
		font-size: 1.2rem;
	}
h2
	{
		font-size: 0.8rem;
		font-weight: normal;
	}
	
/* Recherche */
.form
	{
		margin-top: 15px;
		display: flex;
	}
.fa-map-marker-alt
	{	
		font-size: 0.9rem;
	}
.form span
	{
		padding: 12px 17px;
		border-radius: 10px 0px 0px 10px;
		background-color: #F2F2F2;	
	}
.search_input
	{
		padding-left: 10px;
		border-top: 1px solid #F2F2F2;
		border-bottom: 1px solid #F2F2F2 ;
		border-left: none;
		border-right: none;	
		font-family: "Raleway", "Sans serif";
		font-weight: bold;
		font-size: 0.9rem;
		width: calc(100%/6);
		min-width: 170px;
	}
.submit_input_icon
	{
		padding: 0 15px;
		border: none;
 		border-radius: 0 10px 10px 0;
		font-family: "Raleway", "Sans serif";
		font-weight: bold;
		font-size: 0.9rem;
 		background-color: #0065FC;
  		color: white;
 		cursor: pointer;
	}
.fa-search
	{
		visibility: hidden;
	}

/* Filtres */
#filters
	{	
		margin-top: 15px;	
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		font-size: 0.9rem;
	}
.filter
	{
		padding: 12px;
		margin-left: 25px;	
		border: 2px #E2E2E2 solid;
		border-radius: 50px;
		font-weight: bold;
	}
.filter:hover
	{
   		background-color: #f3f8ff;
   		transform: scale(1.05);
	}
.filter_ico	
	{	
		margin-left: -15px;
		margin-top: -14px;
		border-radius: inherit;
		display: flex;
   		align-items: center;
   		justify-content: center;
		width: 45px;
		height: 45px;
		position: absolute;
		background-color: #DEEBFF;
	}
.filter_ico i
	{
		font-size:1rem;
		color:#0065FC;
	}
.filter_name
	{
		padding-left: 35px;
   		padding-right: 8px;
	}

/* Info recherche */
#seach_info 
	{
		margin-top: 20px;	
		display: flex;
		align-items: center;
		font-size: 0.8rem;
	}
.filter_ico_info
	{
		margin-right: 10px;
		border: 2px #F2F2F2 solid;
		border-radius: 50px;
		display: flex;
		align-items: center;
   	 	justify-content: center;
		width: 15px;
		height: 15px;
	}
.filter_ico_info i
	{
		font-size: 0.6rem;
		color: #0065FC;	
	}

/* Hébergement à Marseille et Les plus populaires*/
#hebergement_populaire
	{	
		margin-top :25px;
		display :flex;
		justify-content: space-between;
		width: 100%;
		height: 560px;
	}
#hebergement_populaire a
	{
		text-decoration: none; 
		color: black;
	}
.figure_title
	{
		margin-top: 30px;
		display: flex;
		align-items:center;
		justify-content: space-between;
		font-size:1rem;
		width: 87%;
		height: 40px;
	}
.figure_title i
	{
		font-size: 1rem;
	}
.grade_ico_blue
	{
		color: #0065FC;
	}
.grade_ico_grey
	{
		color: #E2E2E2;
	}

/* Hébergement à Marseille */
.hebergement
	{
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width:65%;
		min-width: 620px;
		background-color:#F2F2F2;	
	}	
.hebergement .figure_title
	{
		margin-left: 4%;
		min-width: 100px;
	} 
.hebergement a 
	{
		margin: 10px;
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		width: 27%;
		min-width: 175px;
	}
.hand_card_1
	{
		margin-top: 10px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		width: 95%;
	}
.card_1
	{
		margin: 0 0 15px 0;
		padding: 4px;
		border-radius:15px;
		box-shadow: 3px 3px 5px grey;
		background-color: white;
		width: 100%;
		height: 165px;
		font-size:0.9rem;
	}	
.card_1:hover
	{
		transform: scale(1.05);
	}
.card_1_image
	{
		border-radius:15px 15px 0px 0px;
		width: 100%;
		height: 60% ;
		object-fit: cover;
	}
.card_1 figcaption h4
	{
		margin: 4px;
	}	
.card_1 figcaption p
	{	
		margin: 4px;
	}	
.card_1 .note
	{
		padding-left: 4px;
		font-size: 0.6rem;
	}
.more
	{
		width: 100%;
	}
.more a
	{
		margin-left:10%;
		width: 98px;
		font-weight: bold;
		justify-content: left;
		min-width: unset;
	}
.more a:hover
	{
	transform: scale(1.1);
	}

/* Les plus populaires */
.populaire
	{
		display: flex;
	 	flex-direction:column;
	 	align-items: center;
		width: 33%;
		min-width: 310px;
	 	background-color:#F2F2F2;
	 	border-radius: 20px; 	
	}
.populaire a 
	{
		display: flex;
		justify-content: center;
		width: 100%;
	}
.hand_card_2
	{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width:100%;
		margin-top: 10px;
	}
.card_2
	{	
		margin:0 0 30px 0;
		padding: 4px;
		display:flex;
		font-size: 0.9rem;
		width: 85%;
		min-width: 270px;
		height: 120px;
		background-color: white;
		box-shadow: 3px 3px 5px grey;
		border-radius:15px;
	}
.card_2:hover
	{
		transform: scale(1.05);
	}
.card_2_image
 	{
		width: 110px;
		height:100%;
		border-radius:15px 0px 0px 15px;
		object-fit: cover;
	}
.card_2 figcaption h4,.card_2 figcaption p
	{
		margin: 4px;
		padding: 5px 0 0 11px;
	}
.card_2 .note
	{
		font-size: 0.6rem;
		padding-left: 15px;	
	}

/* Activités à Marseille */
#activites
	{
		display:flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
#activites a
	{
		text-decoration: none; 
		color: black;
		width: 23%;
	}
.hand_card_3
	{
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;
		height: 350px;	
		width: 100%;
	}
.card_3
	{
		margin: 0;
		display:flex;
		flex-direction: column;
		font-size:0.9rem;
		width: 100%;
		border-radius:15px;
		box-shadow: 3px 3px 5px grey;
		background-color: unset;
	}
.card_3_image_25pc,.card_3_image_50pc,.card_3_image_100pc
	{
		object-fit: cover;
		border-radius:15px 15px 0 0;
	}
.card_3_image_25pc
	{
		height: 75px;	
	}
.card_3_image_50pc
	{
		height: 135px;
	}
.card_3_image_100pc
	{
		height: 300px;
	}
.card_3 figcaption
	{
		padding-left:10px;
		height: 50px;
	}
.card_3:hover
	{
		transform: scale(1.05);
	}

/* Footer */
footer
	{
		margin-top: 70px;
		display:flex;
		justify-content: flex-start;
		font-size: 0.9em;
		background-color: #F2F2F2;
	}
footer ul
	{
		list-style-type: none;
	} 
footer ul li
	{
		padding-top:10px;
	}
footer ul li a
	{
		text-decoration: none;
		color:black;
		font-size: 0.8rem;
	}
footer ul li a:hover
	{
		text-decoration: underline solid black;
	}
.footer_heading
	{
		width: calc(100% / 3);
	}
footer h5
	{
		margin-left: 40px;
	}

/* Tablet-Laptop */
	@media all and (min-width: 767px) and (max-width:1024px) 
	{
		header
			{
				flex-wrap: wrap;
				justify-content: space-between;
			}
		#logo
			{
				max-width: 135px;
			}
		#inscrire
			{
				font-size: 1.1rem;
			}
		nav
			{
				order: 2;
				width: 100%;
				height: 35px;
			}
		nav ul li a
			{
				padding-right: 0;	
				order:1;	
			}
		nav ul li a:hover
			{	
				padding-bottom: 5px;
				border-top: none;
				border-bottom:3px #0065FC solid;
				color: #0065FC;
			}	
		#found_it
			{
				padding-top: 10px;
			}
		#hebergement_populaire
			{
				flex-direction: column-reverse;
				height: auto;
			}
		.populaire 
			{
   				 width: 100%;
			}
		.populaire .figure_title
			{
				width: 90%;	
			}
		.populaire .figure_title i 
			{
				font-size: 1.2rem;
			}	
		.populaire a 
			{
				justify-content: center;
				display: flex;
			}
		.hand_card_2
			{
				margin-left: -4px;
				margin-bottom: 15px;
				width: 85%;
			}
		.card_2
			{
				width: 95%;
				height: 120px;
			}
		.card_2_image
			{
				width:180px;		
			}
		.hebergement
			{
				width: auto;
				margin-bottom: 10px;
				margin-top: 30px;
				align-items: center;
			}
		.hebergement .figure_title 
			{
				margin-left: 0;
			}
		.hebergement a
			{
				margin: 0 30px 10px 30px;
				width: 24%;
				min-width: unset;
			}
		.hand_card_1
			{
				width: 100%;
			}
		.card_1	
			{
				font-size: 0.85rem;
			}
		.more
			{
				display: flex;
				justify-content: center;
				width: 100%;
			}
		.more a
			{
				padding-bottom: 20px;
				width: 100px;
			}		
		.more:hover
			{
				margin: 0;
			}
		.hand_card_3 
			{
				width:100%;
				height : 460px;
				align-content: space-around;
			}
		#activites a
			{
				text-decoration: none; 
				color: black;
				width: 27%;
				min-width: 220px;
			}
		.card_3_image_25pc,.card_3_image_50pc,.card_3_image_100pc
			{
				height: 160px;
			}
		}

/* Smartphone-Tablet */
@media all and (max-width: 767px)  
	{
		header 
			{
				flex-wrap: wrap;
				justify-content: space-between;
				width: 98%;
			}
		#logo
			{
				order :1;
			}
		#inscrire
			{	order:2;
				text-align: right;
			}
		nav
			{
				order: 3;
				justify-content: center;
				width: 100%;
				height: 35px;	
			}
		nav ul
			{
				padding: 0;
				width: 100%;
				height: 25px;
			}
		nav ul li
			{
				display:flex ;
				width: 50%;
			}
		nav ul li a
			{	
				padding:0;
				width: 100%;
				text-align: center;	
				border-bottom:3px #F2F2F2 solid;
			}
		nav ul li a:hover
			{	
				padding: 0;
				margin: 0;
				color: #0065FC;
				border-top: none;
				border-bottom:3px #0065FC solid;
			}	
		#found_it
			{
				padding-top: 10px;
			}
		.search_input
			{
				width: 100%;
			}
		.submit_input_icon
			{
				display: none 
			}
		.fa-search
			{
				padding: 0 15px;
				visibility: visible;
				font-size: 0.9rem;
				background-color: #0065FC;
				color: white;
				border: none;
				border-radius: 0 10px 10px 0;
				cursor: pointer;	
			}
		#filters 
			{	
				display:initial;
			}
		.filter
			{
				margin-bottom: 5px;
				margin-left: 0;
			}
		#hebergement_populaire
			{
				flex-direction: column-reverse;
				height: auto;
			}
		.hebergement
			{
				margin-bottom: 10px;
				width: 100%;
				min-width: unset;
				align-items: center;
				background-color:unset;
			}
		.hebergement .figure_title 
			{
				margin-bottom: 10px;
				width: 95%;
			}
		.hebergement a 
			{
				margin: 0;
				width: 95%;
			}
		.hand_card_1 
			{
				width: 100%;
				margin-top: 0;
			}
		.card_1	
			{
				display: flex;
				width: 100%;
				height: 150px;
			}
		.card_1_image
			{
				width: 40%;
				height: 150px;
				border-radius: 15px 0 0 15px;
			}
		.card_1 figcaption
			{
				font-size: 0.9rem;
				padding-top: 40px;
				padding-left: 20px;
			}
		.card_1 figcaption h4,.card_1 figcaption p
			{	
				margin-bottom: 10px;
			}	
		.more
			{
				display: flex;
				justify-content: center;
			}
		.more:hover
			{
				margin: 0;
			}	
		.populaire 
			{
				min-width: unset;
				border-radius: 0;
				width: 100%;
				height: 540px;
			}
		.populaire .figure_title
			{
				margin-top: 20px;
			}
		.populaire .figure_title i 
			{
				margin-right: 0;
				font-size: 1.2rem;
			}	
		.hand_card_2
			{
				width: 100%;
			}
		.populaire a 
			{
				display: flex;
				justify-content: center;
				width: 100%;
			}
		.card_2
			{
				margin: 15px 0 0 0;
				min-width: unset;
				height: 120px;
			}
		.card_2_image
			{
				min-width: 100px;
				width:30%;
			}
		.card_2 figcaption
			{
				width:70%
			}
		.card_2 figcaption h4
			{
				padding-left :10px;
				font-size: 0.85rem;
			}
		.card_2 figcaption p
			{
				padding-left :10px;
				font-size: 0.8rem;
			}
		#activites
			{
				margin: auto;
			}
		.hand_card_3 
			{
				width:100%;
				height: auto;
				flex-wrap: unset;
			}
		#activites .figure_title 
			{
				margin-top: 20px;
			}	
		#activites a 
			{
				display: flex;
				justify-content: center;
				width: 100%;
			}
		.card_3
			{	
				margin-bottom: 20px;
				font-size:0.85rem;
				width: 100%;
				height: 150px;
			}	
		.card_3_image_25pc,.card_3_image_50pc,.card_3_image_100pc
			{
				height: 110px;
			}
		.card_3 figcaption h4
			{
				margin-top: 14px;
			}
		footer
			{
				margin-top: 30px;
				display: flex;
				flex-direction : column;
				width: 100%;
			}
		.footer_heading
			{
				margin-bottom: 20px;
				width: 100%;
			}
	}

/* Smartphone S */
@media all and (max-width: 350px) 
	{
		.card_1 
			{
    			display: unset;
			}
		.card_1_image
			{
				width: 100%;
				height: 60%;
				border-radius: 10px 10px 0 0;
			}
		.card_1 figcaption h4
			{
				font-size: 0.85rem;
				margin-bottom: 4px;
			}
		.card_1 figcaption p
			{
				font-size: 0.80rem;
				margin-bottom: 4px;
			}
		.hebergement figcaption
			{
				padding:0;
			}
	}